<script setup lang="ts">
import GameList from "../components/GameList.vue";
import router from '@/router';
import { useRequireAuth } from '../hooks/authHooks';
import { useHighScores } from "../hooks/gameHooks";

useRequireAuth();

const highScores = useHighScores();

function createNewGame() {
    router.push('/play');
};

</script>

<template>
    <div class="container d-flex flex-column gap-3">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" @click="createNewGame">New game</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <GameList :games="highScores" />
            </div>
        </div>
    </div>
</template>