<script setup lang="ts">
import UserDataForm from '../components/UserDataForm.vue';
import type { User } from '../domain/user';
import { useLogin } from '../hooks/authHooks';
import { useAuthStore } from '../store/authStore';
import router from '@/router';

const store = useAuthStore()
const loginUser = useLogin();

const handleLogin = (user: LoginData) => {
  loginUser(user)
    .then(() => router.push('/'));
};

</script>

<template>
  <div class="login mt-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <UserDataForm header="Login" submitLabel="Login" @onSubmit="handleLogin" />
        </div>
      </div>
    </div>
  </div>
</template>

<style></style>