<script setup lang="ts">
import GameTile from "../components/GameTile.vue";
import BoardView from "../components/BoardView.vue";
import { useGame } from "../hooks/gameHooks";
import router from "@/router";
import { ref, watch, watchEffect } from "vue";
import type { Board, Effect } from "@/board/board";
import { createBoard } from "@/board/board";
import { useRequireAuth } from '../hooks/authHooks';

useRequireAuth();

const game = useGame();

const handleComplete = () => game.completeGame().then(() => router.push('/highScores'));

const board = ref<Board<string> | null>(null);
const points = ref<number>(0);

const handlePoints = (value: Effect<string>) => {
    if (value.match)
        points.value = points.value + (value.match.matched.charCodeAt(0) - 65 + 1) * value.match.positions.length;
};

watch(board, () => {
    if (!game.game.value) {
        return;
    }
    else {
        game.updateScore(game.game.value.score + points.value).then(() => points.value = 0)
    }
})

watchEffect(() => {
    board.value = (createBoard({
        next: () => {
            let n = 'L'.charCodeAt(0) - 'A'.charCodeAt(0);
            n = Math.random() * n;
            n = Math.floor(n);
            n = n + 'A'.charCodeAt(0);
            return String.fromCharCode(n);
        },
    }, 10, 10));
});

</script>

<template>
    <div class="container d-flex flex-column gap-3">
        <div class="row">
            <div class="col">
                <GameTile :game="game.game.value" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" @click="handleComplete">Complete Game</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <BoardView @effect="handlePoints" v-model:board="board" />
            </div>
        </div>
    </div>
</template>