<script setup lang="ts">
import UserDataForm from "../components/UserDataForm.vue";
import type { User } from "../domain/user";
import { useUpdateUser, useRequireAuth } from '../hooks/authHooks';
import { useAuthStore } from '../store/authStore'

useRequireAuth();

const store = useAuthStore();
const updateUser = useUpdateUser();

const handleUpdate = (user: User) => {
  updateUser(user)
};

</script>

<template>
  <div class="login mt-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <UserDataForm header="Update user" submitLabel="Save" @onSubmit="handleUpdate"/>
        </div>
      </div>
    </div>
  </div>
</template>