<script setup lang="ts">
import UserDataForm from "../components/UserDataForm.vue";
import type { User } from "../domain/user";
import { useRegisterUser } from '../hooks/authHooks';
import router from '@/router';

const registerUser = useRegisterUser();
const handleRegister = (user: User) => registerUser(user).then(() => router.push('/login'));

</script>

<template>
    <div class="login mt-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <UserDataForm header="Register" submitLabel="Register" @onSubmit="handleRegister" validate />
                </div>
            </div>
        </div>
    </div>
</template>
  
<style></style>
  