<script setup lang="ts">
import { piece, type Board, type Position, canMove, move, type Effect } from "@/board/board";
import { positionEquals } from "../utils/utils";
import { ref, type PropType } from "vue";

const props = defineProps({
    board: Object as PropType<Board<string> | null>,
})

const emits = defineEmits<{
    (e: 'effect', value: Effect<string>): void
    (e: 'update:board', value: Board<string>): void
}>()

const selected = ref<Position | null>(null);
const highlighted = ref<string | null>(null);

const buttonClasses = (p: Position) => {
    let classes = 'tile btn w-100';

    if (positionEquals(selected.value, p))
        classes += ' selected';

    if (!selected.value && props.board && piece(props.board, p) === highlighted.value)
        classes += ' highlighted';

    if (selected.value && props.board && piece(props.board, p) === piece(props.board, selected.value))
        classes += ' highlighted';

    return classes;
};

const handleSelect = (pos: Position) => {
    if (!props.board)
        return;

    if (!selected.value) {
        selected.value = pos;
    } else if (positionEquals(selected.value, pos)) {
        selected.value = null;
    } else {
        if (canMove(props.board, selected.value, pos)) {
            const moveRes = move(null, props.board, selected.value, pos);
            moveRes.effects.forEach(e => emits('effect', e));
            emits('update:board', moveRes.board);
        } else {
            alert('Invalid move');
        }

        selected.value = null;
    }
};

const handleMouseEnter = (rowIndex: number, colIndex: number) => {
    highlighted.value = (piece(props.board!, { row: rowIndex, col: colIndex })) as string;
}

</script>

<template>
    <div class="container board-view">
        <div class="row" v-for="(rowItem, rowIndex) in Array.from({ length: props.board!.height })" :key="rowIndex">
            <div class="col p-2" v-for="(colItem, colIndex) in Array.from({ length: board!.width })" :key="colIndex">
                <button :class="buttonClasses({ row: rowIndex, col: colIndex })"
                    @click="handleSelect({ row: rowIndex, col: colIndex })"
                    @mouseenter="() => handleMouseEnter(rowIndex, colIndex)">
                    {{ piece(props.board!, { row: rowIndex, col: colIndex }) }}
                </button>
            </div>
        </div>
    </div>
</template>

<style scoped>
.board-view .tile {
    width: 100%;
}

.board-view .tile.highlighted {
    background-color: green;
}

.board-view .tile.selected {
    background-color: orange;
}
</style>