<script setup lang="ts">

const props = defineProps(['value', 'classes', 'label', 'type']);
const emits = defineEmits(['update:value']);

const handleChange = (event: Event) => {
    const inp = event.target as HTMLInputElement;
    emits('update:value', inp.value);
};

</script>

<template>
    <div class="form-floating mb-3">
        <input :type="props.type ?? 'text'" :id="props.label" :placeholder="props.label" :value="props.value"
            @change="handleChange($event)" :class="{ 'form-control': true, ...props.classes }">
        <label :for="props.label">{{ props.label }}</label>
        <div class="invalid-feedback">{{ props.label }} is invalid.</div>
        <div class="valid-feedback">Looks good!</div>
    </div>
</template>