<script setup lang="ts">
import type { PropType } from "vue";
import GameTile from "../components/GameTile.vue";
import type { Game } from "@/domain/game";

const props = defineProps({
    games: Array as PropType<Game[]>
});

</script>

<template>
    <div class="vstack gap-3">
        <GameTile v-for="game in props.games" :key="game.id" :game="game"/>
    </div>
</template>