<script setup lang="ts">
import type { PropType } from "vue";
import type { Game } from "../domain/game";

const props = defineProps({
    game: Object as PropType<Game | null>,
})

</script>

<template>
    <div class="card body">
        <div class="container">
            <div v-if="props.game" class="row p-2">
                <div class="col">Id: {{ props.game.id }}</div>
                <div class="col text-center">Score: {{ props.game.score }}</div>
                <div class="col text-center">Completed: {{ props.game.completed }}</div>
            </div>
            <div v-else>
                <div class="col p-2">No high scores</div>
            </div>
        </div>
    </div>
</template>