<script setup lang="ts">
import { ref, defineEmits } from 'vue';

const props = defineProps(['value']);
const emits = defineEmits(['update:value']);

const blurred = ref(false);

const isPasswordValid = () => props.value.length >= 8;

const internalValue = ref(props.value);

const handleBlur = () => {
    blurred.value = true;
    emits('update:value', internalValue.value);
};
</script>

<template>
    <div class="form-floating mb-3">
        <input type="password" id="password" placeholder="Password" v-model="internalValue" minlength="8" required :class="{
            'form-control': true,
            'is-invalid': !isPasswordValid() && blurred,
            'is-valid': isPasswordValid() && blurred
        }" v-on:blur="handleBlur" />
        <label for="password">Password</label>
        <div class="invalid-feedback">8 characters long password is required.</div>
        <div class="valid-feedback">Looks good!</div>
    </div>
</template>
  
<style scoped></style>