<script setup lang="ts">
import { ref, defineEmits } from 'vue';

const props = defineProps(['value']);
const emits = defineEmits(['update:value']);

const internalValue = ref(props.value);

const handleInput = () => {
    emits('update:value', internalValue.value);
};
</script>

<template>
    <div class="form-floating mb-3">
        <input type="password" id="password" placeholder="Password" v-model="internalValue" minlength="8" required
            class="form-control" v-on:input="handleInput" />
        <label for="password">Password</label>
    </div>
</template>
  
<style scoped></style>