<script setup lang="ts">
import router from '@/router';

import { useAuthStore } from '../store/authStore'

const store = useAuthStore();

function logout() {
    store.logout();
};

</script>

<template>
    <template v-if="store.isLoggedIn">
        <div class="hstack gap-2">
            <button class="btn btn-primary" @click="router.push('/profile')">Profile</button>
            <button class="btn btn-primary" @click="logout">Logout</button>
        </div>
    </template>
    <template v-else>
        <div class="hstack gap-2">
            <button class="btn btn-primary" @click="router.push('/login')">Login</button>
            <button class="btn btn-primary" @click="router.push('/register')">Register</button>
        </div>
    </template>
</template>