<script setup lang="ts">
import ProfileBar from './ProfileBar.vue'

</script>

<template>
    <div class="navbar bg-body-tertiary navbar-expand navbar-light">
        <div class="container">
            <RouterLink class="navbar-brand" to="/">Match3</RouterLink>
            <div class="justify-content-end navbar-collapse collapse">
                <div class="me-auto navbar-nav">
                    <RouterLink class="nav-link" to="/play">Play</RouterLink>
                </div>
                <div class="me-auto navbar-nav">
                    <RouterLink class="nav-link" to="/highScores">High Scores</RouterLink>
                </div>
                <ProfileBar />
            </div>
        </div>
    </div>
</template>

<style scoped></style>