<script setup lang="ts">
import { ref } from 'vue'
import FloatingLabel from "../components/FloatingLabel.vue";

const props = defineProps({
    header: String,
    submitLabel: { type: String, default: 'Submit' },
})

const emits = defineEmits(['onSubmit']);

const user = ref({
    username: '',
    password: ''
});

function submit() {
    emits('onSubmit', user.value);
}

</script>

<template>
    <div class="card">
        <div class="card-header">{{ props.header }}</div>
        <div class="card-body">
            <form @submit.prevent="submit" class="needs-validation" novalidate>
                <FloatingLabel v-model:value="user.username" label="Username" />
                <FloatingLabel v-model:value="user.password" label="Password" type="password" />
                <button type="submit" class="btn btn-primary w-100">{{ props.submitLabel }}</button>
            </form>
        </div>
    </div>
</template>

<style scoped></style>