<script setup lang="ts">
import { ref, defineEmits } from 'vue';

const props = defineProps(['value']);
const emits = defineEmits(['update:value']);

const blurred = ref(false);

const isUsernameValid = () => internalValue.value.trim() !== "";

const internalValue = ref(props.value);

const handleBlur = () => {
    blurred.value = true;
    emits('update:value', internalValue.value);
};
</script>

<template>
    <div class="form-floating mb-3">
        <input type="text" id="username" placeholder="Username" v-model="internalValue" required
           :class="{
            'form-control': true,
            'is-invalid': !isUsernameValid() && blurred,
            'is-valid': isUsernameValid() && blurred}"
            v-on:blur="handleBlur">
        <label for="username">Username</label>
        <div class="invalid-feedback">Username is required.</div>
        <div class="valid-feedback">Looks good!</div>
    </div>
</template>
  
<style scoped></style>