<script setup lang="ts">
import { RouterView } from 'vue-router'
import Topbar from './components/Topbar.vue'
</script>

<template>
  <div class="vstack gap-3">
    <Topbar />
    <RouterView />
  </div>
</template>

<style scoped></style>
